.image{
    grid-column: 1/5;
    max-width: 100%;
    max-height: 90vh;
}

.detalles{
    grid-column: 5/7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descripcion{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: left;
    text-indent: 1rem;
}

.lastCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
}

.precio{
    font-size: 1.3em;
    font-weight: bold;
}




.btnBuy {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #212529 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1.5em;
  font-weight: 600;
}

.btnBuy:focus {
  box-shadow: #5eada7 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5eada7 0 -3px 0 inset;
}

.btnBuy:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5eada7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnBuy:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}